<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .container {
      width: 100%;
      max-width: 600px;
    }

    h2 {
      width: 100%;
      background-color: #ccc;
      text-align: left;
      height: 100px;
      line-height: 100px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Olá, {{ username }}</h2>
    <p>Seja bem vindo ao Book API!</p>
    <p>Aqui você pode criar suas listas de livros, e conferir o que os outros usuários estão lendo.</p>
    <p>Esperamos que a sua experiência conosco seja ótima!!</p>
    <p><strong>Obrigado por fazer parte!</strong></p>
    <h3>Equipe Book API</h3>
  </div>
</body>
</html>
